.primary {
  width: 100%;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  background-color: #0094ff;
  color: white;
  padding: 1.5rem 3rem;
  margin: 1rem 0.5rem;
  border: 2px solid transparent;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}

.primary:hover {
  /* box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px; */
  background-color: white;
  color: #0094ff;
  border: 2px solid #0094ff;
  /* background-color: #357ae8; */
  transition: all 0.6s;
}

.primary:focus {
  /* border: 0;
  outline: 0; */
}
