.small {
  height: 2rem;
  width: 2rem;
  border-radius: 300rem;
  background-color: lightgray;
  color: white;
  vertical-align: middle;
  margin: 0.5rem;
}

.default {
  height: 3rem;
  width: 3rem;
  border-radius: 300rem;
  vertical-align: middle;
  margin: 0.5rem;
  background-color: lightgray;
}

.large {
  height: 4rem;
  width: 4rem;
  border-radius: 300rem;
  vertical-align: middle;
  margin: 0.5rem;
  background-color: lightgray;
}
.xl {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 300rem;
  vertical-align: middle;
  margin: 0.5rem;
  background-color: lightgray;
}
.loader {
  height: 4rem;
  width: 4rem;
  border-radius: 300rem;
  vertical-align: middle;
  margin: 0.5rem;
  background-color: lightgray;
}
